.navbar-wrapper {
  padding: 1rem 0;

  .nav-item {
    & > .nav-link {
      a, span {
        text-transform: uppercase;
        font-weight: 700;
        color: $primary;
        font-size: .85rem;

        &:hover {
          color: darken($primary, 15);
        }
      }
    }
  }

  .navbar-brand {
    img {
      @include media-breakpoint-down(xs) {
        width: 175px;
        height: 30px;
      }
      @include media-breakpoint-up(sm) {
        width: 233px;
        height: 40px;
      }
      @include media-breakpoint-up(md) {
        height: 50px;
        width: 291px;
      }
    }
  }
}
