.pricelist-table {
  tr {
    td {
      background-color: #f3f3f3;
      border: 5px solid #FFF;
      &.level-1 {
        padding-left: 3rem;
      }
      &.level-2 {
        padding-left: 6rem;
      }
    }
  }
}
