.top-bar-wrapper {
  background-color: #EFEFEF;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 0.95em;

  a > span {
    @extend .align-middle;

    color: #999;
  }

  .bi {
    @extend .align-text-bottom;
  }
}
