h1,
h2,
h3,
h4 {
  color: #343434;
}

.header-underline {
  &::after {
    content: "";
    width: 3rem;
    height: 2px;
    background-color: $primary;
    display: block;
    margin-top: 1rem;
  }

  &.text-center {
    &::after {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
