// Custom overrides.
$font-family-base: 'Open Sans', sans-serif;
$primary: #08c;
$link-hover-decoration: none;

// Bootstrap and BootstrapVue SCSS files.
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue/src/index";

@import "components/topbar";
@import "components/navbar";
