// Custom overrides.
$font-family-base: 'Open Sans', sans-serif;
$primary: #08c;
$body-color: #777;
$link-hover-decoration: none;

$gradient-start: darken(#2c455d, 1);
$gradient-end: darken(#00012c, 2);

// Bootstrap and BootstrapVue SCSS files.
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue/src/index";

@import "helpers/gradient";
@import "helpers/link";
@import "helpers/header";

@import "components/topbar";
@import "components/navbar";
@import "components/footer";
@import "components/team-member";
@import "components/service-card";
@import "components/pricelist-table";
@import "components/contact";
@import "components/blog-teaser";
@import "components/blog-image";
@import "components/blog-youtube";
@import "components/question-and-answer";
